html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    background: ghostwhite;
    /*height: 100%;*/
    font-family: "Futura",sans-serif;
    border: 0 solid #2F0028;
    border-bottom-width: 100vh;
    height: 200%;
}

head {
    display: block
}

title {
    display: block;
    color: #656565;
    /*background: ghostwhite;*/
    text-align: center;
    font-size: 24pt;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    /*-webkit-text-stroke: 8px white;*/
}

body {
    /*background: #00FFA1;*/
    /*background: #FCFCFF;*/
    position: relative;
    height: 800px;
    margin: 0 auto;
    width: 600px;
    border: 18px ridge #FFECFC;
    background: linear-gradient(060deg, rgba(101, 47, 160, 0.14)50%, rgba(255, 255, 255, 0.93)50%);
}

canvas {
    width: 100%;
    display: block;
    height: 100%;
    /*background: #FFF8AA;*/
}

input {
    position: absolute;
    /*border: .4em dashed red;*/
    border: 4px double #524E73;
    width: 84px;
    height: 84px;
    border-radius: 50%;
    background-color: #FFF5FD;
    font-family: "helvetica neue";
    text-align: center;
    font-size: 8pt;
}

input:focus {
    outline: none;
    box-shadow: inset 0 0 0 2px white, inset 0 0 0 3px #B166D0, inset 0 0 0 5px white, inset 0 0 0 6px #8E8E8E;
    background: white;
}