html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    background: #2F0028;
    border: 1px dashed #53AD9B;
    font-family: "Futura",sans-serif;
    min-height: calc(100% - 36px);
    border-radius: 8px;
    margin: 18px 18px;
}

head {
    display: block
}

title {
    background: linear-gradient( 50deg, rgb(218, 196, 255)37%, rgb(167, 214, 194)71%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    text-align: center;
    -webkit-user-select: none;
    cursor: default;
    font-size: 131pt;
    height: 1.32em;
    letter-spacing: 0.14em;
    left: 0;
    right: 0;
}

body {
    position: relative;
    /*height: 800px;*/
    margin: 100px auto 0;
    /*width: 600px;*/
    width: 1002px;
    height: 1001px;
    border: 1px dashed darkgray;
    /*border: 18px ridge #FFECFC;*/
    /*background: linear-gradient(*/
            /*56.4deg,*/
            /*rgb(228, 220, 242)52%,*/
            /*rgba(255, 255, 255, 0.93)52%);*/
    background: transparent;
}

canvas {
    width: 100%;
    display: block;
    height: 100%;
}

spool {
    position: absolute;
    border-radius: 50%;
    /*background-color: rebeccapurple;*/
    padding: 18px;
    border: 1px solid transparent;

    
}

spool:hover, sppol.draggable {
    border-color: ghostwhite;
    background: rgba(47, 0, 40, 0.63);
    border-color: ghostwhite;
    cursor: -webkit-grabbing!important;
    z-index: 1;
}


spool:hover {
    cursor: -webkit-grab;
    background: rgba(0,0,0,.6);
}

spool:hover input{
    opacity: 0;
}
input:hover {
    opacity: 1!important;
}

spool.draggable {
    cursor: -webkit-grabbing!important;
}

spool.draggable input {
    border-color: transparent;
    /*background:transparent;*/
    /*background: purple;*/
    background:transparent;
}

input {
    /*border: 14px solid #CFADD0;*/
    /*border-style: groove;*/
    border: 1px dashed white;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    /*background-color: #FFF5FD;*/
    background: rgba(47, 0, 40, 0.63);
    font-family: "helvetica neue", sans-serif;
    text-align: center;
    font-weight: lighter;
    font-size: 16pt;
    color: #4DFFD1;
    letter-spacing: .05em;
}

input:focus {
    outline: none;
    border-style: solid;
    /*box-shadow:*/
            /*inset 0 0 0 2px white,*/
            /*inset 0 0 0 3px #B166D0,*/
            /*inset 0 0 0 5px white,*/
            /*inset 0 0 0 6px #8E8E8E;*/
    /*background: white;*/
}