html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
html {
    background: #2F0028;
    border: 1px dashed #53AD9B;
    font-family: "Futura",sans-serif;
    border-radius: 8px;
    margin: 18px 18px;
}

head {
    display: block
}
title {
    background: linear-gradient( 50deg, rgb(218, 196, 255)37%, rgb(167, 214, 194)71%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    text-align: center;
    -webkit-user-select: none;
    cursor: default;
    font-size: 16pt;
    height: 1.32em;
    letter-spacing: 0.14em;
    left: 0;
    right: 0;
}
body {
    position: relative;
    margin: 0 auto;
    width: 1002px;
    background: transparent;
}
canvas {
    display: block;
    height:602px;
    width: 1002px;
    image-rendering: pixelated;
    border: 1px dashed darkgray;
}
input {
    border: 1px dotted white;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background: rgba(47, 0, 40, 0.63);
    font-family: "helvetica neue", sans-serif;
    text-align: center;
    font-weight: lighter;
    font-size: 16pt;
    color: #4DFFD1;
    letter-spacing: .05em;
    display: block;
}
input:hover{
    animation: spark 60s infinite;
}
@keyframes spark {
    0% {  transform: rotate(0deg)  }
    100% {  transform: rotate(360deg)  }
}
table {
    color:white;
    border-collapse: collapse;
    margin: 16px auto;
}
td, th {
    border: 1px solid white;
}

spool {
    display: inline-block;
    position:absolute;
}


spool.dragging {
    /*background: ghostwhite;*/
    cursor: -webkit-grabbing!important;
    cursor: -moz-grabbing!important;
}


move, delete {
    display: none;
    width: 17px;
    border-radius: 46%;
    font-weight: 100;
    font-size: 6pt;
    font-family: helvetica, sans-serif;
    height: 17px;
    vertical-align: top;
    text-align: center;
    line-height: 15px;
    position: absolute;
    color: #FFC0C0;
    border: 1px dotted;
    -webkit-user-select: none;
}
move{
    top: 1px;
    left: 31px;
    border-top-width: 0!important;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    color: #29DCFD;
}

delete{
    right: -8px;
    top: 1px;
    cursor: pointer;
    border:none;
}

spool:hover move, spool:hover delete{
    display:block;
    animation: spark 60s infinite;
}
input:focus {
    outline: none;
}
.dest{
    border-color: deeppink;
}
pre {
    color: white;
    min-height: 3em;
    border-top: 1px dotted #846D6D;
}